.container2{
    position: relative;
    padding: 164px 306px;
    margin: -20px 420px;

    
}
.REmplo{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    right: 21px;
}
.EmpList{
    font-weight: normal;
    position: relative;
    margin: 20px -92px;
}
.Transfer{
    display: block;
    width: 120%;
    border: none;
    background-color: #04b474;
    text-align: center;
    padding: 6px 0px;
    color: white;
    border-radius: 15px;
    margin: 40px -65px;
    left: 220px;
  
}
.Transfer:hover{
    background-color: #ddd;
    color: black;
}
.status{
    position: relative;
    margin: 50px -15px;   
    font-family:Arial, Helvetica, sans-serif ;
    font-weight:5i00
}

.contract_address{
    margin: 30px 25px;
    white-space: nowrap;
    font-weight:700;
}
.address{
    margin:-15px -92px;
}
.amount{
    margin: 10px 35px;
}
.amountHead{
    margin: 10px 10px;
    font-weight: 700;
}
#amountInput{
    margin: 5px -40px;
}